<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= actors.first_name %> <%= actors.last_name %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>    
    <h1><%= actors.first_name %> <%= actors.last_name %> </h1>
    <br>
    <p>Peliculas</p>
    <% if (actors.movies.length) { %>
     <ul>
        <% actors.movies.forEach(movie => { %>
         <li><a href="/movies/detail/<%= movie.id %> "> <%= movie.title %> </a></li>
        <% }) %>
     </ul>
    <% }else{ %>
    <p>El Actor no tiene peliculas</p>
        <% } %>

</body>
</html>